---
// src/components/CustomSocialIcons.astro
import type { Props } from '@astrojs/starlight/props';
import { Icon } from 'astro-icon/components'
---

<nav>
  <!-- Add your custom social links here -->
  <a href="https://github.com/Umbra-Team/umbra" aria-label="GitHub">
    <Icon name="mdi:github" size={24} />
  </a>
  <a href="https://youtu.be/KTGpoGrwexM" aria-label="YouTube">
    <Icon name="mdi:youtube" size={24}/>
  </a>
  <!-- Add more icons as needed -->
</nav>